<footer class="l-footer">
    <div class="l-footer__wrap">
        <div class="l-footer__top">
            <div class="l-footer__logo">
                <a href="">
                    <img src="/assets/images/logo.svg" alt="">
                </a>
            </div>
            <div class="l-footer__nav">
                <div class="l-footer__nav__cat">
                    <a href="" class="l-footer__nav__cat-ttl">ホーム</a>
                </div>
                <div class="l-footer__nav__cat">
                    <a href="" class="l-footer__nav__cat-ttl">内装会社を探す</a>
                    <ul>
                        <li><a href="" class="l-footer__nav__cat-item">施工事例から探す</a></li>
                        <li><a href="" class="l-footer__nav__cat-item">マッチングサービスから探す</a></li>
                    </ul>
                </div>
                <div class="l-footer__nav__cat">
                    <a href="" class="l-footer__nav__cat-ttl">ご利用者の声</a>
                </div>
                <div class="l-footer__nav__cat">
                    <a href="" class="l-footer__nav__cat-ttl">店舗内装市場とは</a>
                    <ul>
                        <li><a href="" class="l-footer__nav__cat-item">よくある質問</a></li>
                        <li><a href="" class="l-footer__nav__cat-item">個人の情報取り扱いに関して</a></li>
                        <li><a href="" class="l-footer__nav__cat-item">運営会社</a></li>
                        <li><a href="" class="l-footer__nav__cat-item">一括見積もり</a></li>
                        <li><a href="" class="l-footer__nav__cat-item">お問い合わせ</a></li>
                        <li><a href="" class="l-footer__nav__cat-item">サイト掲載希望の方</a></li>
                        <li><a href="" class="l-footer__nav__cat-item">用語集</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="l-footer__copyright">
            <p>
                「店舗内装市場」に掲載されている記事、図表、情報等の無断掲載を禁止します。<br>
                著作権はレスタンダード株式会社またはその情報提供者に帰属します。<br>
                Copyright © 店舗内装市場 all rights reserved<br>
            </p>
        </div>
    </div>
</footer>