<header>
    <div class="l-header">
        <div class="l-header__top">
            <div class="p-nav__logo">
                <a href="/" class="u-hover-opacity">
                    <img src="/assets/images/logo.svg" alt="">
                </a>
            </div>
            <ul class="p-header-nav__menu" >
                <li><a href="" class="p-nav-items u-nav__txt">ホーム</a></li>
                <li><a href="" class="p-nav-items u-nav__txt">一括見積もり</a></li>
                <li><a href="" class="p-nav-items u-nav__txt">お問い合わせ</a></li>
                <li><a href="" class="p-nav-items u-nav__txt">サイト掲載希望の方</a></li>
                <li><a href="" class="p-nav-items u-nav__txt">サイトマップ</a></li>
            </ul>
        </div>
    </div>
</header>
<div class="l-header__bottom">
    <ul class="p-main__menu-wrap">
        <li>
            <a href="" class="p-menu__icon u-menu__txt">
                <img src="/assets/images/about_icon.png" alt="">
                <p>店舗内装市場とは</p>
            </a>
        </li>
        <li>
            <a href="/company" class="p-menu__icon u-menu__txt">
                <img src="/assets/images/interior_icon.png" alt="">
                <p>内装会社一覧</p>
            </a>
        </li>
        <li>
            <a href="" class="p-menu__icon u-menu__txt">
                <img src="/assets/images/search_icon.png" alt="">
                <p>マッチングサービス</p>
            </a>
        </li>
        <li>
            <a href="" class="p-menu__icon u-menu__txt">
                <img src="/assets/images/construction_icon.png" alt="">
                <p>施工一覧</p>
            </a>
        </li>
        <li>
            <a href="" class="p-menu__icon u-menu__txt">
                <img src="/assets/images/qa_icon.png" alt="">
                <p>よくある質問</p>
            </a>
        </li>
        <li>
            <a href="" class="p-menu__icon u-menu__txt">
                <img src="/assets/images/voice_icon.png" alt="">
                <p>ご利用者様の声</p>
            </a>
        </li>
    </ul>
</div>