<div class="p-recommend">
    <h1 class="u-red-head">オススメデザイン</h1>
    <div class="p-recommend__wrap">
        <div class="js-recommend-slider p-recommend__slider">
            <ul class="p-recommend-cards js-recommendRendering">
            </ul>
        </div>
    </div>
    <button class="c-prev-btn js-slider-btn" data-slide="prev"></button>
    <button class="c-next-btn js-slider-btn" data-slide="next"></button>
</div>