.p-keyvisual {
    width: 100%;
    background-color: #f2f2f2;
    padding: 10px 0;

    @include mq(tb) {
        padding: 0 0 10px 0;
    }
}

.p-keyvisual__wrap {
    max-width: 960px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;

    @include mq(tb) {
        width: 100%;
        justify-content: center;
        flex-direction: column-reverse;
        margin: 0 auto;
    }
}


.p-construction__img__wrap {
    position: relative;
    overflow: hidden;
}

.p-construction__img-slider {
    position: absolute;
    display: flex;

    li {
        width: 460px;

        @include mq(tb) {
            width: 100%;
        }
    }
}

.p-recommend {
    position: relative;
    max-width: 960px;
    margin: 20px auto 0;
    border: 1px solid $brand-color;

    @include mq(tb) {
        margin: 10px;
    }
}

.p-recommend__wrap {
    padding: 10px;
    background-color: #FCF3F4;
}

.p-recommend__slider {
    overflow: hidden;
    position: relative;
    height: 194px;
}

.p-recommend-cards {
    position: absolute;
    display: flex;
    align-items: flex-start;

    & > li {
        background-color: #fff;
        margin-right: 10px;
    }
}

.p-main__wrap {
    display: flex;
    justify-content: space-between;
    max-width: 960px;
    margin: 20px auto 0;

    @include mq(tb) {
        justify-content: center;
        flex-direction: column-reverse;
        padding: 10px 10px 30px;
    }
}

.p-result__wrap {
    max-width: 960px;
    margin: 20px auto;
}

.p-result__search-box {
    h1 {
        padding: 13px;
    }
}

.p-result__search-box__list {
    display: flex;
    justify-content: space-around;
    background-color: #f0f0f0;
    border: 1px solid $border-gray;

}

.p-result__search-box__item {
    width: 33.3%;
    padding: 15px 10px 10px 20px;
    border-right: 1px solid $border-gray;

    p {
        margin-bottom: 3px;
    }

    &:last-child {
        border-right: none;
    }
}

.p-area__select {
    select {
        min-width: 120px;;
    }
}

.p-result__search-box__word {
    display: flex;

    button {
        width: 80px;
        margin: 0;
    }
}

.p-result__search-box__word-inp {
    width: initial;
    min-width: 130px;
    margin-right: 5px;
    height: 29px;
    border: 1px solid $dark-gray;
}

.p-hitted__search {
    display: flex;
    justify-content: space-between;
    margin: 30px 0;
}

.p-hitted__search__pages {
    display: flex;
}

.p-hitted__company {
    display: flex;
    justify-content: space-between;
}