<%
    const path = 'common';
%>

<!DOCTYPE html>
<html lang="jan">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>店舗の内装デザイン、設計、施工なら店舗内装市場（いちば）</title>
    <link rel="stylesheet" href="/assets/css/style.css">
</head>
<body>
    <div class="l-wrapper">
        <%- include(`${path}/_header`) %>
        <main class="l-main">
            <div class="p-keyvisual">
                <div class="p-keyvisual__wrap">
                    <div class="p-query">
                        <div class="p-query__wrap">
                            <h1>内装マッチング</h1>
                            <form action="" class="p-query__form">
                                <p class="u-query__txt">お客様の理想のお店を『コンセプト』としてサイトに登録すると、その条件に合ったデザイン会社の方からアプローチがあります。</p>
                                <ul class="p-query__items u-normal-size__font">
                                    <li class="p-query__item">
                                        <div class="p-query__ttl">依頼内容</div>
                                        <div>
                                            <select name="" id="">
                                                <option value="">洗濯してください</option>
                                                <option value="">新規開業・開店</option>
                                                <option value="">リフォーム・改装</option>
                                                <option value="">その他</option>
                                            </select>
                                        </div>
                                    </li>
                                    <li class="p-query__item">
                                        <div class="p-query__ttl">出店予定地</div>
                                        <div>
                                            <ul class="p-query__radio">
                                                <li><input type="radio">東京都</li>
                                                <li><input type="radio">千葉県</li>
                                                <li><input type="radio">埼玉県</li>
                                                <li><input type="radio">神奈川県</li>
                                            </ul>
                                        </div>
                                    </li>
                                    <li class="p-query__item">
                                        <div class="p-query__ttl">ジャンル</div>
                                        <div>
                                           <select name="" id="" class="p-query__select-cutom">
                                               <option value="">すべての業態</option>
                                               <option value="">飲食店</option>
                                               <option value="">物販・アパレル</option>
                                               <option value="">サービス・病院・学校</option>
                                           </select>
                                        </div>
                                    </li>
                                </ul>
                                <button class="c-query__btn">一括お問い合わせ</button>
                            </form>
                        </div>
                    </div>
                    <div class="p-construction__img js-img-slider">
                        <div class="p-construction__img__wrap u-hover-opacity">
                            <ul class="p-construction__img-slider">
                                <li><a href=""><img src="./assets/images/001-5-460x298.jpg" alt="" class="js-slide-tgt"></a></li>
                                <li><a href=""><img src="./assets/images/001-13-460x298.jpg" alt="" class="js-slide-tgt"></a></li>
                                <li><a href=""><img src="./assets/images/2-460x298.jpg" alt="" class="js-slide-tgt"></a></li>
                                <li><a href=""><img src="./assets/images/construction_store_image_main-460x298.png" alt="" class="js-slide-tgt"></a></li>
                                <li><a href=""><img src="./assets/images/IMGP0287-460x298.jpg" alt="" class="js-slide-tgt"></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <%- include(`${path}/_recommend`) %>
            <div class="p-main__wrap">
                <div class="p-side">
                    <div class="p-side__contents">
                        <h2>カテゴリー検索</h2>
                        <ul>
                            <li class="c-side__list c-arrow-parent u-ml25"><a href="" class="c-list-arrow c-list-icon-r">飲食店</a></li>
                            <ul class="c-side__list__hide">
                                <li class="c-side__list__menu">レストラン・ダイニングバー</li>
                                <li class="c-side__list__menu">バー</li>
                                <li class="c-side__list__menu">居酒屋</li>
                                <li class="c-side__list__menu">喫茶・軽食（カフェ）</li>
                                <li class="c-side__list__menu">寿司</li>
                                <li class="c-side__list__menu">そば・うどん</li>
                                <li class="c-side__list__menu">和食</li>
                                <li class="c-side__list__menu">焼肉</li>
                                <li class="c-side__list__menu">中華料理</li>
                                <li class="c-side__list__menu">イタリア料理</li>
                                <li class="c-side__list__menu">フランス料理</li>
                                <li class="c-side__list__menu">アジア料理・エスニック・無国籍料理</li>
                                <li class="c-side__list__menu">洋食</li>
                                <li class="c-side__list__menu">ラーメン</li>
                                <li class="c-side__list__menu">カラオケ・パブ・スナック</li>
                                <li class="c-side__list__menu">その他</li>
                            </ul>
                            <li class="c-side__list c-arrow-parent u-ml25"><a href="" class="c-list-arrow c-list-icon-p">物販・アパレル</a></li>
                            <ul class="c-side__list__hide">
                                <li class="c-side__list__menu">ホビー</li>
                                <li class="c-side__list__menu">家具・雑貨</li>
                                <li class="c-side__list__menu">生活用品</li>
                                <li class="c-side__list__menu">アパレル</li>
                                <li class="c-side__list__menu">ショールーム</li>
                                <li class="c-side__list__menu">その他</li>
                            </ul>
                            <li class="c-side__list c-arrow-parent u-ml25"><a href="" class="c-list-arrow c-list-icon-s">サービス・病院・学校</a></li>
                            <ul class="c-side__list__hide">
                                <li class="c-side__list__menu">理容・美容院</li>
                                <li class="c-side__list__menu">エステ・マッサージ</li>
                                <li class="c-side__list__menu">ペットサロン</li>
                                <li class="c-side__list__menu">病院・医院</li>
                                <li class="c-side__list__menu">スクール</li>
                                <li class="c-side__list__menu">ホテル・旅館・ブライダル</li>
                                <li class="c-side__list__menu">ライブハウス・スタジオ</li>
                                <li class="c-side__list__menu">ショールーム（サービス）</li>
                                <li class="c-side__list__menu">その他</li>
                            </ul>
                        </ul>
                    </div>
                    <div class="p-side__contents">
                        <h2>キーワード検索</h2>
                        <div class="p-side__search-box">
                            <div class="p-side__search-box__word">
                                <input type="text" placeholder="キーワードを入力">
                            </div>
                            <div class="p-side__search-box__btn">
                            </div>
                        </div>
                    </div>
                    <div class="p-side__contents">
                        <h2>新着お知らせ</h2>
                        <ul class="js-noticeRendering">
                            <li class="c-side__list u-red-txt u-fs10 u-ta-right">お知らせ一覧</li>
                        </ul>
                    </div>
                    <div class="p-side__contents">
                        <h2>ご利用の声</h2>
                        <ul　class="js-voiceRendering">
                            <!-- <li class="c-side__list">
                                <div>
                                    <a href="" class="p-side__new-info">
                                        <img src="./assets/images/l_e_others_501-150x150.png" alt="">
                                        <div class="p-side__new-info__txt">
                                            <p class="u-side-date">2015.12.18</p>
                                            <p class="u-side-head">自分がイメージした以上のお店</p>
                                        </div>
                                    </a>
                                    
                                </div>
                            </li>
                            <li class="c-side__list">
                                <div>
                                    <a href="" class="p-side__new-info">
                                        <img src="./assets/images/l_e_others_501-150x150.png" alt="">
                                        <div class="p-side__new-info__txt">
                                            <p class="u-side-date">2015.12.18</p>
                                            <p class="u-side-head">長く継続できる店舗</p>
                                        </div>
                                    </a>
                                </div>
                            </li>
                            <li class="c-side__list">
                                <div>
                                    <a href="" class="p-side__new-info">
                                        <img src="./assets/images/l_e_others_501-150x150.png" alt="">
                                        <div class="p-side__new-info__txt">
                                            <p class="u-side-date">2015.12.18</p>
                                            <p class="u-side-head">お客様のことを考えた店舗内装</p>
                                        </div>
                                    </a>
                                </div>
                            </li> -->
                            <li class="c-side__list u-red-txt u-fs10 u-ta-right">お客様の声一覧</li>
                        </ul>
                    </div>
                </div>
                <div class="p-main__contents">
                    <div class="p-commerse">
                        <h1 class="p-contents__head-border">出店でお困りの方</h1>
                        <div class="p-cm__area">
                            <div class="p-cm__area-top">
                                <a href="" class="u-hover-opacity"><img src="./assets/images/banner01.png" alt=""></a>
                                <a href="" class="u-hover-opacity"><img src="./assets/images/banner02.png" alt=""></a>
                            </div>
                            <div class="p-cm__area-bottom">
                                <a href="" class="u-hover-opacity"><img src="./assets/images/banner03.png" alt=""></a>
                            </div>
                        </div>
                    </div>
                    <div class="p-new-design u-mb20">
                        <h1 class="p-contents__head-border u-mb20">新着デザイン</h1>
                        <div>
                            <ul class="p-design__wrap js-newDesignRendering">
                            </ul>
                            <p>
                                <a href="" class="u-more-txt">もっとみる</a>
                            </p>
                        </div>
                    </div>
                    <div class="p-design__ranking u-mb20">
                        <h1 class="p-contents__head-border u-mb20">デザインランキング</h1>
                        <ul class="p-design__wrap js-designRankRendering">
                        </ul>
                        <p>
                            <a href="" class="u-more-txt">もっとみる</a>
                        </p>
                    </div>
                    <div class="p-whats__new">
                        <h1 class="p-contents__head-border u-mb20">新着ニュース</h1>
                        <div class="p-whats__new__wrap">
                            <ul>
                            </ul>
                        </div>
                        <p>
                            <a href="" class="u-more-txt">もっとみる</a>
                        </p>
                    </div>
                </div>
            </div>
        </main>
        <%- include(`${path}/_footer`) %>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <script src="/assets/js/script.js"></script>
</body>
</html>
