header {
    width: 100%;
    background-color: $brand-color;
}

.l-header {
    max-width: 960px;
    margin: 0 auto;
    padding: 15px;

}

.l-header__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.l-header__bottom {
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: #fff;
}
