<%
    const path = '../common';
%>

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>内装会社一覧</title>
    <link rel="stylesheet" href="/assets/css/style.css">
</head>
<body>
    <div class="l-wrapper">
        <%- include(`${path}/_header`) %>
        <main class="l-main">
            <div class="p-keyvisual">
                <div class="p-keyvisual__wrap">
                    <p>
                        <a href="/" class="u-bread-txt">店舗内装市場</a><span> > </span>
                        <a href="/company" class="u-bread-txt u-red-txt">内装会社一覧</a>
                    </p>
                </div>
            </div>
            <%- include(`${path}/_recommend`) %>
            <div class="p-result">
                <div class="p-result__wrap">
                    <div class="p-result__search-box">
                        <h1 class="u-red-head u-cancel-bold">内装会社検索結果</h1>
                        <ul class="p-result__search-box__list">
                            <li class="p-result__search-box__item">
                                <p class="u-fs12">地域</p>
                                <div class="p-area__select">
                                    <select name="" id="">
                                        <option value="">すべて</option>
                                    </select>
                                </div>
                            </li>
                            <li class="p-result__search-box__item">
                                <p class="u-fs12">デザイン、施工など依頼範囲</p>
                                <div class="p-area__select">
                                    <select name="" id="">
                                        <option value="">すべて</option>
                                    </select>
                                </div>
                            </li>
                            <li class="p-result__search-box__item">
                                <p class="u-fs12">キーワード検索</p>
                                <div class="p-word__search">
                                    <div class="p-result__search-box__word">
                                        <input type="text" placeholder="キーワードを入力" class="p-result__search-box__word-inp">
                                        <button class="c-query__btn">検索</button>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <div class="p-hitted__search">
                        <div class="p-hitted__count">
                            <p>
                                <span class="u-hit-txt">14</span>
                                件見つかりました
                            </p>
                        </div>
                        <div class="p-hitted__search__pages">
                            <div class="c-current__page-btn">
                                <p>1</p>
                            </div>
                            <div class="">
                                <a href="" class="c-another__page-btn">
                                    <p>2</p>
                                </a>
                            </div>
                            <div class="">
                                <a href="" class="c-next__page-btn">
                                    <p>>></p>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="p-hitted__company">
                        <ul>
                            <li class="c-hitted__company-card">
                                <div class="c-hitted__company-card__top">
                                    <div class="c-hitted__company-card__thumb">
                                        <img src="/assets/images/5960691134604ff1f31875e6f5617b07-1-150x150.jpg" alt="">
                                    </div>
                                    <div class="c-hitted__company-card__info">
                                        <div class="c-hitted__company-card__info-ttl">Lorem Ipsum</div>
                                        <div class="c-hitted__company-card__info-detail">
                                            <div class="c-hitted__company-card__info-item">
                                                <p class="c-hitted__company-card__info-item__type">Lorem ipsum</p>
                                                <p class="c-hitted__company-card__info-item__content">Lorem ipsum dolor</p>
                                            </div>
                                            <div class="c-hitted__company-card__info-item">
                                                <p class="c-hitted__company-card__info-item__type">Lorem ipsum</p>
                                                <p class="c-hitted__company-card__info-item__content">Lorem ipsum dolor</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="c-hitted__company-card__bottom">
                                    <p class="c-hitted__company-card__bottom-head">Lorem ipsum dolor sit amet</p>
                                    <p class="c-hitted__company-card__msg">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                                </div>
                                <button class="c-query__btn">詳細はこちら</button>
                            </li>
                        </ul>
                    </div>
                    <div class="p-hitted__search">
                        <div class="p-hitted__count">
                            <p>
                                <span class="u-hit-txt">14</span>
                                件見つかりました
                            </p>
                        </div>
                        <div class="p-hitted__search__pages">
                            <div class="c-current__page-btn">
                                <p>1</p>
                            </div>
                            <div class="">
                                <a href="" class="c-another__page-btn">
                                    <p>2</p>
                                </a>
                            </div>
                            <div class="">
                                <a href="" class="c-next__page-btn">
                                    <p>>></p>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </main>
        <%- include(`${path}/_footer`) %>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <script src="/assets/js/script.js"></script>
</body>
</html>